site_name: Nucleoid Docs
repo_url: https://github.com/NucleoidMC/nucleoid-docs
repo_name: NucleoidMC/nucleoid-docs

theme:
  name: material
  logo: assets/images/favicon.png
  features:
    - navigation.instant
    - navigation.tabs
    - navigation.sections
    - toc.integrate
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: teal
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to light mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: teal
      toggle:
        icon: material/toggle-switch
        name: Switch to dark mode
  icon:
    repo: fontawesome/brands/github

nav:
  - index.md
  - Plasmid:
    - plasmid/index.md
    - plasmid/getting-started.md
    - plasmid/maps.md
    - plasmid/statistics.md
  - Backend:
    - backend/index.md
    - backend/http-api.md

extra:
  social:
    - icon: fontawesome/brands/discord
      link: https://nucleoid.xyz/discord
    - icon: fontawesome/brands/github
      link: https://github.com/NucleoidMC
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/NucleoidMC

copyright: Content on this site is licensed CC-BY-SA; excluding code snippets, which are licensed under The Unlicense.

markdown_extensions:
  - admonition
  - pymdownx.highlight
  - pymdownx.superfences
